main:where(.astro-UJ4L2GCI) {
    padding-top: 2em;
    background-color: #f2f2f2;
    max-width: 100%;
}

.header:where(.astro-UJ4L2GCI) {
    margin-left: 7em;
    max-width: 50em;
}

.container:where(.astro-UJ4L2GCI) {
    background-color: #f2f2f2;
    padding: 2em;
    font-size: 1em;
    width: 100vw;
    line-height: 2em;
    max-width: 50em;
}

ol:where(.astro-UJ4L2GCI) {
    margin-left: 6.2em;
    max-width: 50em;
}

.content:where(.astro-UJ4L2GCI) {
    margin-left: 7em;
    max-width: 50em;
}

.section:where(.astro-UJ4L2GCI) {
    max-width: 50em;
    margin-left: 6.2em
}